<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/index.js"></script>

</head>

<body>
    <h1 id="" class="promocion">Página de productos</h1>
    <div class="usuario">
        <div>
            <span class="iconoUsuario">{{nombre}}</span><img class="iconoUsuario" src="static/img/icons8-user-64.png"
                alt="" srcset="">
        </div>
        <div id="datosUsuario" class="datosUsuario">
            <ul>
                <li><a href="editarUsuario">Editar Usuario</a></li>
                <li> <a href="cerrarSesion">Cerrar Sesión</a></li>
                <li><a href="crearproducto">Productos</a></li>
            </ul>

        </div>

    </div>

    <section id="productosDisponibles" class="productos">
        <h3>Productos disponibles en nuestra tienda</h3>
        <div>
            <article id="p1">
                <h4 class="tituloProducto">Nombre producto1</h4>
                <p>Descripción del producto</p>
                <img src="static/img/guitarra.jpg" alt="Guitarra">
            </article>
            <article class="promocion">
                <h4  class="tituloProducto">Nombre producto2</h4>
                <p>Descripción del producto</p>
                <img src="static/img/guitarra.jpg" alt="Guitarra">
            </article>
            <article>
                <h4  class="tituloProducto">Nombre producto3</h4>
                <p>Descripción del producto</p>
                <img src="static/img/guitarra.jpg" alt="Guitarra">
            </article>
        </div>
    </section>
    <section id="productosNoDisponibles" class="productos">
        <h3>Productos fuera de stock</h3>
        <div>
            <article>
                <img class="imgGuitar" src="static/img/guitar.jpg" alt="Guitarra Electrica">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img class="imgGuitar" src="static/img/guitar.jpg" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
            <article>
                <img src="static/img/guitar.jpg" class="imgGuitar" alt="">
                <h4>Nombre Producto</h4>
            </article>
        </div>
    </section>
</body>

</html>