<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Productos</title>
    <link rel="stylesheet" href="static/css/producto.css">
    <script src="static/js/productos.js"></script>
</head>

<body>
    <div class="container">
        <div class="formulario">
            <h1>Formulario Productos</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="idProducto" value="2343">
                <label for="nombre">Nombre del producto</label><input  type="text" name="nombre" required>
                <label for="descripcion">Descripción</label><textarea name="descripcion" id="" required cols="30"
                    rows="4"></textarea>
                <label for="">Precio</label><input required type="number" min="0" step="0.1"  name="precio" id="" value="0">
                <label for="">Cantidad</label><input required type="number" min="0" name="cantidad" value="0">
                <label for="archivo">Imagen del producto</label><input type="file" name="archivo" id="" required>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="listaProductos">
            <h2>Listado de productos</h2>
            <div id="listadoProductos">
               
            </div>
        </div>
    </div>
    <button id="btnAjax">Peticion Ajax</button>
</body>

</html>